
#div2{
				width:100%;
				height:15%;
				left:0px;
				
				position:absolute;
				font-family:calibri;
				
				color:Blue;
			 }	


#div1{
				
				width:100%;
				height:100%;
				left:0px;
				top:100px;
				position:absolute;
				font-family:calibri;
				background-color:#c982ee;
				color:white;
			 }	
input[type="text"]{
display: inline-block;
float:right;
}
#h1 {
    
    font-weight:200;
    color: #800088;
    font-size:26pt;
    
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
